@import './assets/scss/_normalize.scss';
@import './assets/scss/_variables.scss';
@import './assets/scss/_mixins.scss';
@import './assets/scss/_global.scss';

body {
  font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.wrapper {
	background: url('assets/img/background.png') no-repeat left top / cover;
}

@media (max-width: 1199px) {
	.container {
		max-width: 90%;
	}
}