.card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 160px;
	background-color: #fff;
	/**/
	&:not(:first-child) {
		margin-top: 6px;
	}
}
.wrapper {
	width: 92%;
	padding: 9px 0;
}
.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 64.35%;
	&:before, &:after {
		content: '';
		display: inline-block;
		width: 1px;
		min-height: 142px;
		background-color: #d1e4ed;
	}
}
.inner {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	padding-left: 25px;
}
.column {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	&:last-child {
		& button {
			margin-top: 15px;
		}
	}
}
.title {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #3b3b3b;
}
.text {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.caption {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #3b3b3b;
}
.desc {
	margin-top: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 55%;
}

@media (max-width: 767px) {
	.wrapper {
		width: 100%;
		padding: 20px 10px;
	}
	.content {
		width: 60%;
		padding: 0 10px;
		&:before, &:after {
			display: none;
		}
	}
	.text {
		margin-top: 5px;
		line-height: 14px;
	}
	.desc {
		margin-top: 5px;
		width: 70%;
	}
}

@media (max-width: 575px) {
	.card {
		min-height: 140px;
	}
	.wrapper {
		padding: 20px;
	}
	.row {
		position: relative;
	}
	.column {
		position: absolute;
		right: 0;
		bottom: 0;
		& h6 {
			display: none;
		}
	}
	.imageBlock {
		display: none;
	}
	.content {
		width: 100%;
		&-inner {
			padding-left: 0;
		}
	}
	.desc {
		width: 60%;
		margin-top: 10px;
	}
	.caption {
		line-height: 16px;
	}
}

@media (max-width: 419px) {
	.title {
		font-size: 16px;
	}
	.desc {
		& button {
			display: none;
		}
	}
	.column {
		bottom: -15px;
	}
}