.footer {
	background-color: #0c364a;
}
.wrapper {
	padding: 37px 0;
}
.row {
	display: flex;
	justify-content: space-between;
	align-items: center; 
}
.text {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 22px;
	color: rgba(255, 255, 255, 0.7);
}
.link {
	& img {
		width: 31px;
		height: 31px;
	}
}

@media (max-width: 459px) {
	.wrapper {
		padding: 20px 0;
	}
	.text {
		margin-right: 20px;
		line-height: 16px;
	}
}