.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style-type: none;
}
.breadcrumb {
	& a {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 13px;
		line-height: 20px;
		color: #fff;
		text-decoration: none;
	}
	&:not(:first-child) {
		margin-left: 20px;
		list-style-image: url('../../assets/img/icons/thin-arrow.svg');
	}
}